---
# Install common packages

- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install common packages
  apt:
    name: "{{ common_packages }}"
    state: present
    update_cache: yes

- name: Ensure system is up to date
  apt:
    upgrade: safe
    autoremove: yes
    autoclean: yes
